<h1>Welcome to Alpha Blog</h1>

<body style="background-color:powderblue;">
  
  
</body>
<p> Alpha Blog presents up to date information about artificial intelligence in the area of commercial real estate.</p>


<br>

<img src="http://cityfeetcdn.loopnet.com/US/NY/NewYork/005.jpg" width="500" heigh="650">
